header {
  height: 120px;
}

.listitems {
  list-style: none;
  text-decoration: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3%;
}

.logoTitle {
  padding-left: 30px;
}

.logo {
  width: 75px;
  height: 75px;
}

.navlinks {
  display: flex;
  justify-content: center;
  column-gap: 25px;
  margin-right: 3%;
}

.active {
  color: brown;
}

.separation {
  margin: auto;
  margin-top: 10px;
  width: 95%;
  border: 1px solid lightslategray;
}
